body {
    margin: 0;
    padding: 0;
    background: black;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 0 15px;
}

.profile-card {
    background: #1a1a1a;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.1);
    margin-bottom: 30px;
}

/* Profil */
.profile-header {
    text-align: center;
}

.profile-img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 4px solid white;
    object-fit: cover;
}

.username {
    margin-top: 15px;
    color: white;
    font-size: 30px;
    font-weight: 800;
}

.bio {
    color: #999;
    margin-top: 10px;
    font-style: italic;
}

.highlight {
    color: deeppink;
    font-weight: 700;
}

/* Liens */
.links {
    margin-top: 25px;
}

.link-button, .email-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 12px;
    text-decoration: none;
    font-weight: 600;
    border: 2px solid #333;
    transition: .2s;
}

.icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 5px;
}

.link-button:hover {
    background: deeppink;
    border-color: deeppink;
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(255, 20, 147, 0.4);
}

.email-button {
    background: deeppink;
    border-color: deeppink;
    font-weight: 700;
}

.email-button:hover {
    background: hotpink;
}

.mail-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

/* Footer */
.footer {
    margin-top: 25px;
    text-align: center;
    color: #777;
    font-size: 14px;
}

/* SECTION PUBS */
.section-title {
    color: deeppink;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.ads-text {
    color: #bbb;
    font-size: 14px;
    text-align: center;
}

.subtitle {
    color: #aaa;
    font-size: 13px;
    font-style: italic;
    text-align: center;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.product {
    background: #2a2a2a;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.product-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.overlay-text {
    text-align: center;
    top: 5px;
    left: 5px;
    color: white;
    font-size: 13px;
    font-weight: 700;
}

.big {
    font-size: 20px;
}

.product-body {
    padding: 8px;
    text-align: center;
}

.price {
    color: #aaa;
    font-size: 12px;
}

.buy-button {
    display: block;
    margin-top: 5px;
    background: deeppink;
    color: white;
    padding: 8px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 700;
}

.buy-button:hover {
    background: hotpink;
}
